body {
  font: normal 1em Helvetica, arial, tahoma, sans-serif;
  color: #333;
}

#header {
  font: normal 3em Georgia ;
  position: relative;
  width: 30%;
  top: 0;
  left: 0;
  margin: 50px 0 0 150px;
  color: #666;
}

  #header span {
    font-size: 1.8em;
    display: block;
    margin: -20px 0 0 -60px;
    color: #333;
  }

#contacts {
  position: absolute;
  width: 30%;
  top: 0;
  left: 0;
  margin: 80px 0 0 60%;
}

  #contacts .k {
    color: #999;
    font-size: 0.8em;
    margin-bottom: 2px;
  }

  #contacts .v {
    color: #333;
    font: normal 1.4em Helvetica;
    margin-bottom: 12px;
  }

#about {
  position: relative;
  width: 60%;
  margin: 110px 0 0 150px;
  font-size: 1.3em;
  line-height: 1.5em;
}

#gallery {
  position: relative;
  width: 80%;
  margin: 70px 0 30px 150px;
}

  #gallery .title,
  #map .title {
    font: normal 1.7em Georgia;
    color: #333;
    margin-bottom: 5px;
  }

  #gallery .help {
    font-size: 0.9em;
    color: #999;
    margin-bottom: 40px;
  }

  #gallery .thumbs {
    width: 100%;
    clear: both;
    float: none;
    position:relative;
    margin: 0 0 0 -100px;
    height: 180px;
  }

    #gallery .thumbs div {
      float: left;
      height: auto;
      margin: 0 20px 0 0;
      vertical-align: middle;
      display: table;
      height: 180px;
    }

    #gallery .thumbs div:last-of-type {
      margin-right: 0;
    }

      #gallery .thumbs div img {
        box-shadow: #000 0 3px 10px;
        cursor: pointer;
        display: table-cell;
      }

#map {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  margin: 50px 0 0 0;
  clear: both;
  float: none;
}

  #map .title {
    margin-left: 150px;
    margin-bottom: 30px;
  }

  #map #canvas {
    width: 100%;
    height: 500px;
    background: #eee;
  }
